# Compiled output
dist

# Package manager lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Minified files
*.min.js
*.min.css

# @template-customization-start
# Test files
static/main.js
static/lib/KaitaiStream.js
# @template-customization-end
