html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

a:hover {
  color: blue;
}

.half-spacing {
  margin-bottom: 0.5em;
}

#choose-save-file {
  display: none;
}

#choose-save-file-label {
  margin-bottom: 1rem;
}

#choose-save-file-error {
  display: none;
}

#choose-save-file-error-article {
  margin-top: 1em;
}

#save-file-stats {
  display: none;
}
